.greetingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: #d79ecf;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.input:focus {
    border-color: #964f9b;
    outline: none;
    caret-color: #964f9b;
    color: #964f9b;
}

.errorInput {
    border: 1px solid #d79ecf;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 12px;
    border-radius: 3px;
    padding: 5px 24px;
    border: none;
    width: 78px;
    height: 36px;
    background: #964f9b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat', sans-serif;

    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
}
